body {
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
}

a {
	color: #00154f;
	text-decoration: none;
}

a:hover {
	color: #1501ca00;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: #fff;
}

#preloader:before {
	content: '';
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #1c2439;
	border-top-color: white;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: animate-preloader 1s linear infinite;
	animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: #1c2439;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	transition: all 0.4s;
}

.back-to-top i {
	font-size: 28px;
	color: #fff;
	line-height: 0;
}

.back-to-top:hover {
	background: #1c243998;
	color: #fff;
}

.back-to-top.active {
	visibility: visible;
	opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	background: #052d37;
	transition: all 0.5s;
	z-index: 997;
	position: relative;
	height: 100px;
}

@media (max-width: 992px) {
	#header {
		height: 60px;
	}
}

#header.fixed-top,
#header.header-inner-pages {
	background: #052d37;
	height: 55px;
}

#header.fixed-top {
	position: fixed;
}

#header .logo {
	font-size: 30px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 500;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

#header .logo a {
	color: #fff;
}

#header .logo img {
	max-height: 50px;
}

.scrolled-offset {
	margin-top: 70px;
}

@media (max-width: 991px) {
	.scrolled-offset {
		margin-top: 60px;
	}
}

/*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/
.header-social-links {
	padding-left: 20px;
	padding-right: 20px;
}

.header-social-links a {
	color: rgba(255, 255, 255, 0.6);
	margin-left: 10px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
	width: 30px;
}

.header-social-links a i {
	line-height: 0;
}

.header-social-links a:hover {
	color: #fff;
}

@media (max-width: 768px) {
	.header-social-links {
		padding: 0 15px 0 0;
	}
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/

.nav-link:focus,
.nav-link:hover {
	color: #ffffff;
}
.navbar {
	padding: 0;
}

.navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
}

.navbar li {
	position: relative;
}

.navbar > ul > li {
	white-space: nowrap;
	padding: 10px 12px;
}

.navbar a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 3px;
	font-size: 15px;
	font-weight: 600;
	white-space: nowrap;
	transition: 0.3s;
	color: white;
	position: relative;
}

.navbar a i {
	font-size: 12px;
	line-height: 0;
	margin-left: 5px;
}

.navbar > ul > li > a:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -7px;
	left: 0;
	background-color: #1c2439;
	visibility: hidden;
	width: 0px;
	transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
	visibility: visible;
	width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar li:hover > a {
	color: #fff;
}

.navbar .dropdown ul {
	display: block;
	position: absolute;
	left: 12px;
	top: calc(100% + 30px);
	margin: 0;
	padding: 10px 0;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: 0.3s;
}

.navbar .dropdown ul li {
	min-width: 200px;
}

.navbar .dropdown ul a {
	padding: 10px 20px;
	font-size: 14px;
	text-transform: none;
	font-weight: 500;
	color: #150517;
}

.navbar .dropdown ul a i {
	font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
	color: #1c2439;
}

.navbar .dropdown:hover > ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}

.navbar .dropdown .dropdown ul {
	top: 0;
	left: calc(100% - 30px);
	visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
	opacity: 1;
	top: 0;
	left: 100%;
	visibility: visible;
}

@media (max-width: 1366px) {
	.navbar .dropdown .dropdown ul {
		left: -90%;
	}
	.navbar .dropdown .dropdown:hover > ul {
		left: -100%;
	}
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
	color: #fff;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
}

@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}
	.navbar ul {
		display: none;
	}
}

.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.9);
	transition: 0.3s;
	z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
	position: absolute;
	top: 15px;
	right: 15px;
}

.navbar-mobile ul {
	display: block;
	position: absolute;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	padding: 10px 0;
	background-color: #fff;
	overflow-y: auto;
	transition: 0.3s;
}

.navbar-mobile a {
	padding: 10px 20px;
	font-size: 15px;
	color: #150517;
}

.navbar-mobile > ul > li {
	padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover > a:before,
.navbar-mobile .active:before {
	visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
	color: #1c2439;
}

.navbar-mobile .getstarted {
	margin: 15px;
}

.navbar-mobile .dropdown ul {
	position: static;
	display: none;
	margin: 10px 20px;
	padding: 10px 0;
	z-index: 99;
	opacity: 1;
	visibility: visible;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
	min-width: 200px;
}

.navbar-mobile .dropdown ul a {
	padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
	font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
	color: #ff7f5d;
}

.navbar-mobile .dropdown > .dropdown-active {
	display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
	width: 100%;
	height: 100vh;
	background: url('../img/banner-h.jpg') top center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	margin-bottom: -70px;
}

@media (max-width: 992px) {
	#hero {
		margin-bottom: -60px;
	}
}

#hero:before {
	content: '';
	background: rgba(3, 46, 24, 0.377)
		linear-gradient(
			rgba(21, 196, 106, 0.055) 0%,
			rgba(21, 196, 106, 0.075) 5%,
			rgba(15, 153, 107, 0.062) 40%,
			#052d376b 76%,
			#052d37c4 94%,
			#052d37 100%
		)
		repeat scroll 0% 0%;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

#hero .hero-container {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 15px;
	right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

#hero h1 {
	margin: 0;
	font-size: 64px;
	font-weight: 700;
	line-height: 56px;
	text-transform: uppercase;
	color: #fff;
}

#hero h2 {
	color: #eee;
	margin: 15px 0 0 0;
	font-size: 24px;
}

#hero .btn-get-started {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 40px;
	border-radius: 4px;
	transition: 0.5s;
	margin-top: 30px;
	border: 2px solid #fff;
	color: #fff;
}

#hero .btn-get-started:hover {
	background: #052d37;
	border: 2px solid #ffffff;
}

@media (min-width: 1024px) {
	#hero {
		background-attachment: fixed;
	}
}

@media (max-width: 768px) {
	#hero h1 {
		font-size: 30px;
		line-height: 36px;
	}
	#hero h2 {
		font-size: 18px;
		line-height: 24px;
	}
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
	padding: 60px 0;
	overflow: hidden;
	background-color: #141e20;
}

.section-bg {
	background-color: #2b4045;
}

.section-title {
	text-align: center;
	padding-bottom: 30px;
}

.section-title h2 {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
}

.section-title h2::after {
	content: '';
	position: absolute;
	display: block;
	width: 50px;
	height: 3px;
	background: #1c2439;
	bottom: 0;
	left: calc(50% - 25px);
}

.section-title p {
	margin-bottom: 0;
	color: #ffffff;
	font-size: 14px;
}

/*--------------------------------------------------------------
# nosotros
--------------------------------------------------------------*/
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #141e20;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
}

.btn-primary {
	color: #fff;
	background-color: #052d37;
	border-color: #ffffff;
}

.btn-primary:hover {
	color: #052d37;
	background-color: #ffffff;
	border-color: #052d37;
}

element.style {
}
.btn-check:active + .btn-primary,
.btn-check:checked + .btn-primary,
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #052d37;
	border-color: #ffffff;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
	color: #fff;
	background-color: #052d37;
	border-color: #0a58ca00;
	box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 0%);
}
/*--------------------------------------------------------------
# pantalones
--------------------------------------------------------------*/
.clients {
	padding: 15px 0;
	text-align: center;
}

.clients img {
	max-width: 40%;
	transition: all 0.4s ease-in-out;
	padding: 15px 0;
	filter: grayscale(100);
	display: block;
	margin: auto;
}

.clients img:hover {
	filter: none;
	transform: scale(1.15);
}

.carousel-indicators [data-bs-target] {
	box-sizing: content-box;
	flex: 0 1 auto;
	width: 30px;
	height: 3px;
	padding: 0;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #fff0;
	background-clip: padding-box;
	border: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	opacity: 0.5;
	transition: opacity 0.6s ease;
}

/*--------------------------------------------------------------
# camisas
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
	list-style: none;
	margin-bottom: 20px;
}

.portfolio #portfolio-flters li {
	cursor: pointer;
	display: inline-block;
	margin: 0 15px 10px 1px;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	color: #ffffff;
	transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
	color: #ffffff;
}

.portfolio #portfolio-flters li.filter-active::before,
.portfolio #portfolio-flters li.filter-active::after {
	color: #ffffff;
}

.portfolio .portfolio-item {
	margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-img {
	overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img {
	transition: all 0.5s ease-in-out;
}

.portfolio .portfolio-item .portfolio-info {
	opacity: 0;
	position: absolute;
	left: 15px;
	bottom: 0;
	z-index: 3;
	right: 15px;
	transition: all ease-in-out 0.3s;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	color: #fff;
	margin-bottom: 0px;
}

.portfolio .portfolio-item .portfolio-info p {
	color: white;
	font-size: 14px;
	margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
	position: absolute;
	right: 40px;
	font-size: 24px;
	top: calc(50% - 18px);
	color: #fff;
	transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
	color: #1c2439;
}

.portfolio .portfolio-item .portfolio-info .details-link {
	right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-img img {
	transform: scale(1.2);
}

.portfolio .portfolio-item:hover .portfolio-info {
	opacity: 1;
}

/*--------------------------------------------------------------
# camisas Details
--------------------------------------------------------------*/
.portfolio-details {
	padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
	width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
	margin-top: 20px;
	position: relative;
}

.portfolio-details
	.portfolio-details-slider
	.swiper-pagination
	.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #fff;
	opacity: 1;
	border: 1px solid #1c2439;
}

.portfolio-details
	.portfolio-details-slider
	.swiper-pagination
	.swiper-pagination-bullet-active {
	background-color: #1c2439;
}

.portfolio-details .portfolio-info {
	padding: 30px;
	box-shadow: 0px 0 30px rgba(21, 5, 23, 0.08);
}

.portfolio-details .portfolio-info h3 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
	list-style: none;
	padding: 0;
	font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
	margin-top: 10px;
}

.portfolio-details .portfolio-description {
	padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
	padding: 0;
}

/*--------------------------------------------------------------
chaquetas

--------------------------------------------------------------*/
.row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(var(--bs-gutter-y) * -1);
	margin-right: calc(var(--bs-gutter-x) / -10);
	margin-left: calc(var(--bs-gutter-x) / -10);
}
/*--------------------------------------------------------------
# trajes
--------------------------------------------------------------*/
.contact {
	padding: 15px 0;
	text-align: center;
}

.contact img {
	max-width: 40%;
	transition: all 0.4s ease-in-out;
	padding: 15px 0;
	filter: grayscale(100);
	display: block;
	margin: auto;
}

.contact img:hover {
	filter: none;
	transform: scale(1.15);
}

.carousel-indicators {
	box-sizing: content-box;
	flex: 0 1 auto;
	width: 30px;
	height: 3px;
	padding: 0;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #fff0;
	background-clip: padding-box;
	border: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	opacity: 0.5;
	transition: opacity 0.6s ease;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	background-color: #052d37;
	color: #ffffff;
	font-size: 14px;
	position: relative;
}

#footer::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #052d37;
	z-index: 1;
}

#footer .footer-top {
	position: relative;
	z-index: 2;
	text-align: center;
	padding: 80px 0;
}

#footer .footer-top h3 {
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	position: relative;
	font-family: 'Poppins', sans-serif;
	padding-bottom: 0;
	margin-bottom: 0;
}

#footer .footer-top p {
	font-size: 15;
	font-style: italic;
	margin: 30px 0 0 0;
	padding: 0;
}

#footer .footer-top .footer-newsletter {
	text-align: center;
	font-size: 15px;
	margin-top: 30px;
}

#footer .footer-top .footer-newsletter form {
	background: #fff;
	padding: 6px 10px;
	position: relative;
	border-radius: 4px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
	text-align: left;
}

#footer .footer-top .footer-newsletter form input[type='email'] {
	border: 0;
	padding: 4px 1px;
	width: calc(100% - 100px);
}

#footer .footer-top .footer-newsletter form input[type='submit'] {
	position: absolute;
	top: 0;
	right: -1px;
	bottom: 0;
	border: 0;
	background: none;
	font-size: 16px;
	padding: 0 20px;
	background: #052d37;
	color: #fff;
	transition: 0.3s;
	border-radius: 0 4px 4px 0;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-top .footer-newsletter form input[type='submit']:hover {
	background: #052d37;
}

#footer .footer-top .social-links {
	margin-top: 30px;
}

#footer .footer-top .social-links a {
	font-size: 18px;
	display: inline-block;
	background: #052d37;
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 4px;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
	background: #0047fc;
	color: #fff;
	text-decoration: none;
}

#footer .footer-bottom {
	border-top: 1px solid #3b0e41;
	z-index: 2;
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
}
