/**
* Template Name: Valera - v4.2.0
* Template URL: https://bootstrapmade.com/valera-free-bootstrap-theme/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	font-family: 'Open Sans', sans-serif;
	color: #444444;
}

a {
	color: #00154f;
	text-decoration: none;
}

a:hover {
	color: #1401ca;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: #fff;
}

#preloader:before {
	content: '';
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #1c2439;
	border-top-color: white;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: animate-preloader 1s linear infinite;
	animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-preloader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 996;
	background: #1c2439;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	transition: all 0.4s;
}

.back-to-top i {
	font-size: 28px;
	color: #fff;
	line-height: 0;
}

.back-to-top:hover {
	background: #1c243998;
	color: #fff;
}

.back-to-top.active {
	visibility: visible;
	opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	background: #1c2439;
	transition: all 0.5s;
	z-index: 997;
	position: relative;
	height: 100px;
}

@media (max-width: 992px) {
	#header {
		height: 60px;
	}
}

#header.fixed-top,
#header.header-inner-pages {
	background: #1c2439;
	height: 55px;
}

#header.fixed-top {
	position: fixed;
}

#header .logo {
	font-size: 30px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 500;
	letter-spacing: 0.5px;
	text-transform: uppercase;
}

#header .logo a {
	color: #fff;
}

#header .logo img {
	max-height: 50px;
}

.scrolled-offset {
	margin-top: 70px;
}

@media (max-width: 991px) {
	.scrolled-offset {
		margin-top: 60px;
	}
}

/*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/
.header-social-links {
	padding-left: 20px;
	padding-right: 20px;
}

.header-social-links a {
	color: rgba(255, 255, 255, 0.6);
	margin-left: 10px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
	width: 30px;
}

.header-social-links a i {
	line-height: 0;
}

.header-social-links a:hover {
	color: #fff;
}

@media (max-width: 768px) {
	.header-social-links {
		padding: 0 15px 0 0;
	}
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
	padding: 0;
}

.navbar ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	align-items: center;
}

.navbar li {
	position: relative;
}

.navbar > ul > li {
	white-space: nowrap;
	padding: 10px 12px;
}

.navbar a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 3px;
	font-size: 15px;
	font-weight: 600;
	white-space: nowrap;
	transition: 0.3s;
	color: white;
	position: relative;
}

.navbar a i {
	font-size: 12px;
	line-height: 0;
	margin-left: 5px;
}

.navbar > ul > li > a:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -7px;
	left: 0;
	background-color: #1c2439;
	visibility: hidden;
	width: 0px;
	transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
	visibility: visible;
	width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar li:hover > a {
	color: #fff;
}

.navbar .dropdown ul {
	display: block;
	position: absolute;
	left: 12px;
	top: calc(100% + 30px);
	margin: 0;
	padding: 10px 0;
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
	transition: 0.3s;
}

.navbar .dropdown ul li {
	min-width: 200px;
}

.navbar .dropdown ul a {
	padding: 10px 20px;
	font-size: 14px;
	text-transform: none;
	font-weight: 500;
	color: #150517;
}

.navbar .dropdown ul a i {
	font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
	color: #1c2439;
}

.navbar .dropdown:hover > ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}

.navbar .dropdown .dropdown ul {
	top: 0;
	left: calc(100% - 30px);
	visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
	opacity: 1;
	top: 0;
	left: 100%;
	visibility: visible;
}

@media (max-width: 1366px) {
	.navbar .dropdown .dropdown ul {
		left: -90%;
	}
	.navbar .dropdown .dropdown:hover > ul {
		left: -100%;
	}
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
	color: #fff;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
}

@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}
	.navbar ul {
		display: none;
	}
}

.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.9);
	transition: 0.3s;
	z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
	position: absolute;
	top: 15px;
	right: 15px;
}

.navbar-mobile ul {
	display: block;
	position: absolute;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	padding: 10px 0;
	background-color: #fff;
	overflow-y: auto;
	transition: 0.3s;
}

.navbar-mobile a {
	padding: 10px 20px;
	font-size: 15px;
	color: #150517;
}

.navbar-mobile > ul > li {
	padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover > a:before,
.navbar-mobile .active:before {
	visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
	color: #1c2439;
}

.navbar-mobile .getstarted {
	margin: 15px;
}

.navbar-mobile .dropdown ul {
	position: static;
	display: none;
	margin: 10px 20px;
	padding: 10px 0;
	z-index: 99;
	opacity: 1;
	visibility: visible;
	background: #fff;
	box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
	min-width: 200px;
}

.navbar-mobile .dropdown ul a {
	padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
	font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
	color: #1c2439;
}

.navbar-mobile .dropdown > .dropdown-active {
	display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
	width: 100%;
	height: 100vh;
	background: url('../img/BANNER\ 1.jpg') top center;
	background-size: cover;
	position: relative;
	margin-bottom: -70px;
}

@media (max-width: 992px) {
	#hero {
		margin-bottom: -60px;
	}
}

#hero:before {
	content: '';
	background: rgba(21, 5, 23, 0.5)
		linear-gradient(
			rgba(2, 0, 33, 0.5) 0%,
			rgba(2, 0, 33, 0.5) 5%,
			rgba(9, 6, 51, 0.5) 40%,
			rgba(47, 49, 147, 0.7) 76%,
			rgba(27, 92, 189, 0.7) 94%,
			rgba(93, 95, 236, 0.5) 100%
		)
		repeat scroll 0% 0%;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
}

#hero .hero-container {
	position: absolute;
	bottom: 0;
	top: 0;
	left: 15px;
	right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

#hero h1 {
	margin: 0;
	font-size: 64px;
	font-weight: 700;
	line-height: 56px;
	text-transform: uppercase;
	color: #fff;
}

#hero h2 {
	color: #eee;
	margin: 15px 0 0 0;
	font-size: 24px;
}

#hero .btn-get-started {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 40px;
	border-radius: 4px;
	transition: 0.5s;
	margin-top: 30px;
	border: 2px solid #fff;
	color: #fff;
}

#hero .btn-get-started:hover {
	background: #1c2439;
	border: 2px solid #1c2439;
}

@media (min-width: 1024px) {
	#hero {
		background-attachment: fixed;
	}
}

@media (max-width: 768px) {
	#hero h1 {
		font-size: 30px;
		line-height: 36px;
	}
	#hero h2 {
		font-size: 18px;
		line-height: 24px;
	}
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
	padding: 60px 0;
	overflow: hidden;
	background-color: #4a290930;
}

.section-bg {
	background-color: #fafafa;
}

.section-title {
	text-align: center;
	padding-bottom: 30px;
}

.section-title h2 {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
}

.section-title h2::after {
	content: '';
	position: absolute;
	display: block;
	width: 50px;
	height: 3px;
	background: #1c2439;
	bottom: 0;
	left: calc(50% - 25px);
}

.section-title p {
	margin-bottom: 0;
	color: #000000;
	font-size: 14px;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
	font-weight: 600;
	font-size: 26px;
}

.about .content ul {
	list-style: none;
	padding: 0;
}

.about .content ul li {
	padding-left: 28px;
	position: relative;
}

.about .content ul li + li {
	margin-top: 10px;
}

.about .content ul i {
	position: absolute;
	left: 0;
	top: 2px;
	font-size: 20px;
	color: #1c2439;
	line-height: 1;
}

.about .content p:last-child {
	margin-bottom: 0;
}

.about .content .btn-learn-more {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 12px 32px;
	border-radius: 5px;
	transition: 0.3s;
	line-height: 1;
	color: #1c2439;
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
	margin-top: 6px;
	border: 2px solid #1c2439;
}
#button_read {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 12px 32px;
	border-radius: 5px;
	transition: 0.3s;
	line-height: 1;
	color: #000000;
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
	margin-top: 6px;
	border: 2px solid #656565;
	background-color: #ddd6d0;
}
.btn-primary {
	background-color: gray;
	border-color: gray;
}
.btn-primary:hover {
	color: white;
	background-color: #1c2439;
	border-color: gray;
}

.about .content .btn-learn-more:hover {
	background: #1c2439;
	color: #fff;
	text-decoration: none;
}
.btn-check:focus + .btn-primary,
.btn-primary:focus {
	color: #fff;
	background-color: #0b5ed7;
	border-color: #0a58ca;
	box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 0%);
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
	padding: 0;
}

.counts .counters span {
	font-size: 48px;
	display: block;
	color: #1c2439;
}

.counts .counters p {
	padding: 0;
	margin: 0 0 20px 0;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}

/*--------------------------------------------------------------
# Our Values
--------------------------------------------------------------*/
.our-values .card {
	border: 0;
	padding: 160px 20px 20px 20px;
	position: relative;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.our-values .card-body {
	z-index: 10;
	background: rgba(255, 255, 255, 0.9);
	padding: 15px 30px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
	transition: ease-in-out 0.4s;
	border-radius: 5px;
}

.our-values .card-title {
	font-weight: 700;
	text-align: center;
	margin-bottom: 15px;
}

.our-values .card-title a {
	color: #150517;
}

.our-values .card-text {
	color: #5e5e5e;
}

.our-values .read-more a {
	color: #777777;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	transition: 0.4s;
}

.our-values .read-more a:hover {
	text-decoration: underline;
}

.our-values .card:hover .card-body {
	background: #1c2439;
}

.our-values .card:hover .read-more a,
.our-values .card:hover .card-title,
.our-values .card:hover .card-title a,
.our-values .card:hover .card-text {
	color: #fff;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
	padding: 15px 0;
	text-align: center;
}

.clients img {
	max-width: 45%;
	transition: all 0.4s ease-in-out;
	display: inline-block;
	padding: 15px 0;
	filter: grayscale(100);
}

.clients img:hover {
	filter: none;
	transform: scale(1.15);
}

@media (max-width: 768px) {
	.clients img {
		max-width: 40%;
	}
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
	padding: 30px;
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
	transition: all 0.3s ease-in-out;
	height: 100%;
}

.services .icon-box:hover {
	transform: translateY(-5px);
}

.services .icon {
	position: absolute;
	left: -20px;
	top: calc(50% - 30px);
}

.services .icon i {
	font-size: 64px;
	line-height: 1;
	transition: 0.5s;
}

.services .title {
	margin-left: 40px;
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
}

.services .title a {
	color: #111;
}

.services .icon-box:hover .title a {
	color: #1c2439;
}

.services .description {
	font-size: 14px;
	margin-left: 40px;
	line-height: 24px;
	margin-bottom: 0;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
	list-style: none;
	margin-bottom: 20px;
}

.portfolio #portfolio-flters li {
	cursor: pointer;
	display: inline-block;
	margin: 0 15px 10px 15px;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	color: #444444;
	transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
	color: #1c2439;
}

.portfolio #portfolio-flters li.filter-active::before,
.portfolio #portfolio-flters li.filter-active::after {
	color: #1c2439;
}

.portfolio .portfolio-item {
	margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-img {
	overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img {
	transition: all 0.5s ease-in-out;
}

.portfolio .portfolio-item .portfolio-info {
	opacity: 0;
	position: absolute;
	left: 15px;
	bottom: 0;
	z-index: 3;
	right: 15px;
	transition: all ease-in-out 0.3s;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
	font-size: 18px;
	color: #fff;
	font-weight: 600;
	color: #fff;
	margin-bottom: 0px;
}

.portfolio .portfolio-item .portfolio-info p {
	color: white;
	font-size: 14px;
	margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
	position: absolute;
	right: 40px;
	font-size: 24px;
	top: calc(50% - 18px);
	color: #fff;
	transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
	color: #1c2439;
}

.portfolio .portfolio-item .portfolio-info .details-link {
	right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-img img {
	transform: scale(1.2);
}

.portfolio .portfolio-item:hover .portfolio-info {
	opacity: 1;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
	padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
	width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
	margin-top: 20px;
	position: relative;
}

.portfolio-details
	.portfolio-details-slider
	.swiper-pagination
	.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: #fff;
	opacity: 1;
	border: 1px solid #1c2439;
}

.portfolio-details
	.portfolio-details-slider
	.swiper-pagination
	.swiper-pagination-bullet-active {
	background-color: #1c2439;
}

.portfolio-details .portfolio-info {
	padding: 30px;
	box-shadow: 0px 0 30px rgba(21, 5, 23, 0.08);
}

.portfolio-details .portfolio-info h3 {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
	list-style: none;
	padding: 0;
	font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
	margin-top: 10px;
}

.portfolio-details .portfolio-description {
	padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
	padding: 0;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
	margin-bottom: 20px;
	overflow: hidden;
	border-radius: 4px;
	background: #fff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

.team .member .member-img {
	position: relative;
	overflow: hidden;
}

.team .member .social {
	position: absolute;
	left: 0;
	bottom: 30px;
	right: 0;
	opacity: 0;
	transition: ease-in-out 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.team .member .social a {
	transition: color 0.3s;
	color: #150517;
	margin: 0 3px;
	border-radius: 4px;
	width: 36px;
	height: 36px;
	background: #1c2439;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: ease-in-out 0.3s;
	color: #fff;
}

.team .member .social a i {
	line-height: 0;
}

.team .member .social a:hover {
	background: #1c2439;
}

.team .member .social i {
	font-size: 18px;
}

.team .member .member-info {
	padding: 25px 15px;
}

.team .member .member-info h4 {
	font-weight: 700;
	margin-bottom: 5px;
	font-size: 18px;
	color: #150517;
}

.team .member .member-info span {
	display: block;
	font-size: 13px;
	font-weight: 400;
	color: #aaaaaa;
}

.team .member .member-info p {
	font-style: italic;
	font-size: 14px;
	line-height: 26px;
	color: #777777;
}

.team .member:hover .social {
	opacity: 1;
	bottom: 15px;
}

.section-bg {
	background-color: #4a290950;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .faq-list {
	padding: 0 100px;
}

.faq .faq-list ul {
	padding: 0;
	list-style: none;
}

.faq .faq-list li + li {
	margin-top: 15px;
}

.faq .faq-list li {
	padding: 20px;
	background: #fff;
	border-radius: 4px;
	position: relative;
}

.faq .faq-list a {
	display: block;
	position: relative;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	padding: 0 30px;
	outline: none;
	cursor: pointer;
}

.faq .faq-list .icon-help {
	font-size: 24px;
	position: absolute;
	right: 0;
	left: 20px;
	color: #1c2439;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
	font-size: 24px;
	position: absolute;
	right: 0;
	top: 0;
}

.faq .faq-list p {
	margin-bottom: 0;
	padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
	display: none;
}

.faq .faq-list a.collapsed {
	color: #343a40;
}

.faq .faq-list a.collapsed:hover {
	color: #1c2439;
}

.faq .faq-list a.collapsed .icon-show {
	display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
	display: none;
}

@media (max-width: 1200px) {
	.faq .faq-list {
		padding: 0;
	}
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
	width: 100%;
	background: rgba(255, 255, 255, 0);
}

.contact .info i {
	font-size: 20px;
	color: #1c2439;
	float: left;
	width: 44px;
	height: 44px;
	background: #fff8f6;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
}

.contact .info h4 {
	padding: 0 0 0 60px;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 5px;
	color: #150517;
}

.contact .info p {
	padding: 0 0 0 60px;
	margin-bottom: 0;
	font-size: 14px;
	color: #62176b;
}

.contact .info .email,
.contact .info .phone {
	margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
	background: #1c2439;
	color: #fff;
}

.contact .php-email-form {
	width: 100%;
	background: rgba(255, 255, 255, 0);
}

.contact .php-email-form .form-group {
	padding-bottom: 8px;
}

.contact .php-email-form .error-message {
	display: none;
	color: #fff;
	background: #1c2439;
	text-align: left;
	padding: 15px;
	font-weight: 600;
}

.contact .php-email-form .error-message br + br {
	margin-top: 25px;
}

.contact .php-email-form .sent-message {
	display: none;
	color: #fff;
	background: #18d26e;
	text-align: center;
	padding: 15px;
	font-weight: 600;
}

.contact .php-email-form .loading {
	display: none;
	background: #fff;
	text-align: center;
	padding: 15px;
}

.contact .php-email-form .loading:before {
	content: '';
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #18d26e;
	border-top-color: #eee;
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
	border-radius: 4px;
	box-shadow: none;
	font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
	border-color: #1c2439;
}

.contact .php-email-form input {
	height: 44px;
}

.contact .php-email-form textarea {
	padding: 10px 12px;
}

.contact .php-email-form button[type='submit'] {
	background: #1c2439;
	border: 0;
	padding: 10px 24px;
	color: #fff;
	transition: 0.4s;
	border-radius: 4px;
}

.contact .php-email-form button[type='submit']:hover {
	background: #1c2439;
}

@-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
	padding: 15px 0;
	background: #fafafa;
	min-height: 40px;
}

.breadcrumbs h2 {
	font-size: 28px;
	font-weight: 500;
}

.breadcrumbs ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0 0 10px 0;
	margin: 0;
	font-size: 14px;
}

.breadcrumbs ol li + li {
	padding-left: 10px;
}

.breadcrumbs ol li + li::before {
	display: inline-block;
	padding-right: 10px;
	color: #3b0e41;
	content: '/';
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	background-color: #0069be;
	color: #fff;
	font-size: 14px;
	position: relative;
}

#footer::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(2, 0, 2, 0.6);
	z-index: 1;
}

#footer .footer-top {
	position: relative;
	z-index: 2;
	text-align: center;
	padding: 80px 0;
}

#footer .footer-top h3 {
	font-size: 36px;
	font-weight: 700;
	color: #fff;
	position: relative;
	font-family: 'Poppins', sans-serif;
	padding-bottom: 0;
	margin-bottom: 0;
}

#footer .footer-top p {
	font-size: 15;
	font-style: italic;
	margin: 30px 0 0 0;
	padding: 0;
}

#footer .footer-top .footer-newsletter {
	text-align: center;
	font-size: 15px;
	margin-top: 30px;
}

#footer .footer-top .footer-newsletter form {
	background: #fff;
	padding: 6px 10px;
	position: relative;
	border-radius: 4px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
	text-align: left;
}

#footer .footer-top .footer-newsletter form input[type='email'] {
	border: 0;
	padding: 4px 8px;
	width: calc(100% - 100px);
}

#footer .footer-top .footer-newsletter form input[type='submit'] {
	position: absolute;
	top: 0;
	right: -1px;
	bottom: 0;
	border: 0;
	background: none;
	font-size: 16px;
	padding: 0 20px;
	background: #1c2439;
	color: #fff;
	transition: 0.3s;
	border-radius: 0 4px 4px 0;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-top .footer-newsletter form input[type='submit']:hover {
	background: #1c2439;
}

#footer .footer-top .social-links {
	margin-top: 30px;
}

#footer .footer-top .social-links a {
	font-size: 18px;
	display: inline-block;
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 4px;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
	background: #1c2439;
	color: #fff;
	text-decoration: none;
}

#footer .footer-bottom {
	border-top: 1px solid #3b0e41;
	z-index: 2;
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
}
